<!--Categories-->
<section class="cat-tiles">
  <div class="container">
    <h2>Browse categories</h2>
    <div class="row">
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/categories/1.png" alt="1"/>
          <p>Category name</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/categories/1.png" alt="1"/>
          <p>Category name</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/categories/1.png" alt="1"/>
          <p>Category name</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/categories/1.png" alt="1"/>
          <p>Category name</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/categories/1.png" alt="1"/>
          <p>Category name</p>
        </a>
      </div>
      <!--Category-->
      <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/categories/1.png" alt="1"/>
          <p>Category name</p>
        </a>
      </div>
    </div>
  </div>
</section><!--Categories Close-->
