<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="mcontent site-info">
		<div id="secondary" class="secondary footer-widget">
			<div id="widget-area" class="widget-area" role="complementary">
				<div class="footer-1">
					<aside id="nav_menu-3" class="widget widget_nav_menu">
						<div class="menu-footer-menu-container">
							<ul id="menu-footer-menu" class="menu">
								<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="http://www.vorex.com/product/">Product</a></li>
								<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://www.vorex.com/media-room/">Media</a></li>
								<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="http://www.vorex.com/blog/">Blog</a></li>
								<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://www.vorex.com/contact/">Contact</a></li>
							</ul>
						</div>
					</aside>
					<aside id="text-3" class="widget widget_text">
						<div class="textwidget">
							<ul class="offices">
								<li>
									<h4 class="office-name">NEW YORK</h4>
									<span class="office-address">16 W 22nd Street, Suite 2R</span><span class="office-csz">New York, NY 10010-5803</span>
								</li>
								<li>
									<h4 class="office-name">LAS VEGAS</h4>
									<span class="office-address">2485 Village View Drive, Ste 100</span><span class="office-csz">Henderson, NV 89074</span>
								</li>
								<li>
									<h4 class="office-name">MIAMI</h4>
									<span class="office-address">701 Brickell Avenue, Ste 400</span><span class="office-csz">Miami, FL 33131</span>
								</li>
								<li>
									<h4 class="office-name">BOSTON</h4>
									<span class="office-address">400 Totten Pond Road, Suite 200</span><span class="office-csz">Waltham, MA 02451</span>
								</li>
							</ul>
						</div>
					</aside>
					<aside id="nav_menu-4" class="widget widget_nav_menu">
						<div class="menu-social-container">
							<ul id="menu-social" class="menu">
								<li id="menu-item-26" class="fb socialico menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a target="_blank" href="https://www.facebook.com/VorexInc">F</a></li>
								<li id="menu-item-27" class="tw socialico menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a target="_blank" href="https://twitter.com/vorexinc">L</a></li>
								<li id="menu-item-28" class="li socialico menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a target="_blank" href="https://www.linkedin.com/company/vorex">I</a></li>
								<li id="menu-item-29" class="yt socialico menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a target="_blank" href="https://www.youtube.com/user/VorexInc">X</a></li>
								<li id="menu-item-30" class="goog socialicoplus menu-item menu-item-type-custom menu-item-object-custom menu-item-30"><a target="_blank" href="https://plus.google.com/+Vorex/about">H</a></li>
							</ul>
						</div>
					</aside>
				</div>
				<div class="footer-2">
					<aside id="text-4" class="widget widget_text">
						<div class="textwidget">
							<div class="copyrights"><span>&copy; 2016 Vorex Inc. by <a style ="color: #78979E" target="_blank" href="http://www.kaseya.com/">Kaseya</a></span> <span style="padding-left:15px;">Toll Free:  888-908-6739</span><span style="padding-left:15px;">Miami:  305-537-1400</span>
							</div>
						</div>
					</aside>
					<aside id="nav_menu-5" class="widget widget_nav_menu">
						<div class="menu-footer-links-container">
							<ul id="menu-footer-links" class="menu">
								<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="http://www.vorex.com/privacy-policy/">Privacy Policy</a></li>
								<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="http://www.vorex.com/terms-of-service/">Terms of Service</a></li>
							</ul>
						</div>
					</aside>
				</div>
			</div><!-- .widget-area -->
		</div><!-- .secondary -->
	</div><!-- .site-info -->
</footer><!-- .site-footer -->
