<!-- New Comment -->
 <header id="masthead" class="site-header" role="banner">
  <div class="top-short-menu">
    <div class="menu-top-menu-container">
      <ul id="menu-top-menu" class="nav-menu">
        <li id="menu-item-1293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1293"><a href="#">Resources</a></li>
        <li id="menu-item-1237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1237"><a href="#">Contact</a></li>
        <li id="menu-item-1238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1238"><a href="#">Login</a></li>
        <li id="menu-item-1239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1239"><a href="#">Free Trial</a></li>
      </ul>
    </div>
  </div>

  <div class="mcontent site-branding">
    <p class="site-title"><a href="{{ site.baseurl }}/" rel="home">{{ site.title }}</a></p>

    <nav id="site-navigation" class="main-navigation" role="navigation">
      <span class="menu-toggle"></span>
      <div class="menu-main-container">
        <ul id="menu-main" class="nav-menu">
          <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20"><a href="#">Product<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1041"><a href="#">Help Desk &#038; Ticketing</a></li>
              <li id="menu-item-1042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a href="#">CRM</a></li>
              <li id="menu-item-1038" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1038"><a href="#">Billing &#038; Invoicing</a></li>
              <li id="menu-item-1037" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1037"><a href="#">Project Management</a></li>
              <li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1039"><a href="#">Time &#038; Expense Tracking</a></li>
              <li id="menu-item-1040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1040"><a href="#">Resource Allocation</a></li>
              <li id="menu-item-1053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053"><a href="#">Packages</a></li>
            </ul>
          </li>
          <li id="menu-item-1121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1121"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-1043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1043"><a href="#">Solutions<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1045" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1045"><a href="#">Agencies &#038; Professional Services Organizations</a></li>
              <li id="menu-item-1046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1046"><a href="#">Systems Integrators</a></li>
              <li id="menu-item-1044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1044"><a href="#">IT Service Providers</a></li>
            </ul>
          </li>
          <li id="menu-item-1122" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1122"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1047"><a href="#">Industries<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1048"><a href="#">Telecommunications</a></li>
              <li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049"><a href="#">Facilities Management/Construction</a></li>
              <li id="menu-item-1050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1050"><a href="#">Finance</a></li>
              <li id="menu-item-1125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1125"><a href="#">Consulting &#038; Professional Services</a></li>
              <li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051"><a href="#">Marketing</a></li>
              <li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052"><a href="#">Software &#038; Technology</a></li>
            </ul>
          </li>
          <li id="menu-item-1123" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1123"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1054"><a href="#">About<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="#">Media</a></li>
              <li id="menu-item-1105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105"><a href="#">Contact</a></li>
            </ul>
          </li>
          <li id="menu-item-1124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1124"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="#">Blog</a></li>
        </ul>
      </div>
    </nav><!-- .main-navigation -->

  </div><!-- .site-branding -->
</header><!-- .site-header -->
