<header id="masthead" class="site-header" role="banner">
  <div class="top-short-menu">
    <div class="menu-top-menu-container">
      <ul id="menu-top-menu" class="nav-menu">
        <li id="menu-item-1293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1293"><a href="{{ site.baseurl }}/resources/">Resources</a></li>
        <li id="menu-item-1237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1237"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        <li id="menu-item-1238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1238"><a href="{{ site.baseurl }}/">Login</a></li>
        <li id="menu-item-1239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1239"><a href="{{ site.baseurl }}/free-trial/">Free Trial</a></li>
      </ul>
    </div>
  </div>

  <div class="mcontent site-branding">
    <p class="site-title"><a href="{{ site.baseurl }}/" rel="home">{{ site.title }}</a></p>

    <nav id="site-navigation" class="main-navigation" role="navigation">
      <span class="menu-toggle"></span>
      <div class="menu-main-container">
        <ul id="menu-main" class="nav-menu">
          <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20"><a href="http://www.vorex.com/product/">Product<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1041"><a href="http://www.vorex.com/product/help-desk-and-ticketing/">Help Desk &#038; Ticketing</a></li>
              <li id="menu-item-1042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a href="http://www.vorex.com/product/customer-relationship-management/">CRM</a></li>
              <li id="menu-item-1038" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1038"><a href="http://www.vorex.com/product/billing-invoicing-tracking/">Billing &#038; Invoicing</a></li>
              <li id="menu-item-1037" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1037"><a href="http://www.vorex.com/product/online-project-management/">Project Management</a></li>
              <li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1039"><a href="http://www.vorex.com/product/time-expense-tracking/">Time &#038; Expense Tracking</a></li>
              <li id="menu-item-1040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1040"><a href="http://www.vorex.com/product/resource-allocation/">Resource Allocation</a></li>
              <li id="menu-item-1053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053"><a href="http://www.vorex.com/pricing/">Packages</a></li>
            </ul>
          </li>
          <li id="menu-item-1121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1121"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-1043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1043"><a href="http://www.vorex.com/solutions/">Solutions<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1045" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1045"><a href="http://www.vorex.com/solutions/agencies-professional-services-organizations/">Agencies &#038; Professional Services Organizations</a></li>
              <li id="menu-item-1046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1046"><a href="http://www.vorex.com/solutions/systems-integrators/">Systems Integrators</a></li>
              <li id="menu-item-1044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1044"><a href="http://www.vorex.com/solutions/it-service-providers/">IT Service Providers</a></li>
            </ul>
          </li>
          <li id="menu-item-1122" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1122"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1047"><a href="http://www.vorex.com/industries/">Industries<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1048"><a href="http://www.vorex.com/industries/telecommunications/">Telecommunications</a></li>
              <li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049"><a href="http://www.vorex.com/industries/architecture-engineering-construction/">Facilities Management/Construction</a></li>
              <li id="menu-item-1050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1050"><a href="http://www.vorex.com/industries/finance/">Finance</a></li>
              <li id="menu-item-1125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1125"><a href="http://www.vorex.com/industries/consulting-professional-services/">Consulting &#038; Professional Services</a></li>
              <li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051"><a href="http://www.vorex.com/industries/marketing/">Marketing</a></li>
              <li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052"><a href="http://www.vorex.com/industries/software-technology/">Software &#038; Technology</a></li>
            </ul>
          </li>
          <li id="menu-item-1123" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1123"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1054"><a href="http://www.vorex.com/about/">About<span class="symbol">ﬁ</span></a>
            <ul class="sub-menu">
              <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="http://www.vorex.com/media-room/">Media</a></li>
              <li id="menu-item-1105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105"><a href="http://www.vorex.com/contact/">Contact</a></li>
            </ul>
          </li>
          <li id="menu-item-1124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1124"><a href="#"><span class="symbol sub-more">+</span></a></li>
          <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://www.vorex.com/blog/">Blog</a></li>
        </ul>
      </div>
    </nav><!-- .main-navigation -->

  </div><!-- .site-branding -->
</header><!-- .site-header -->
