<!--Main Menu-->
<nav class="menu">
  <ul class="main">

    <!-- Dynamic Navigation based on "_data/nav.yml" | Edit this ti change navigation -->
    {% for nav in site.data.nav %}
      {% if nav.subcategories != null %}
        <li class="has-submenu">
          <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }} <i class="fa fa-chevron-down"></i></a>
          <ul class="submenu">
          {% for subcategory in nav.subcategories %}
            <li><a href="{{ site.baseurl }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
          {% endfor %}
          </ul>
        </li>
      {% elsif nav.title == page.title %}
        <li class="hide-sm">
          <a href="{{ nav.url }}">{{ nav.title }}</a>
        </li>
      {% else %}
        <li class="hide-sm">
          <a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="catalog">
    <li class="has-submenu"><span class="label" style="right:10px; top:-5px;">NEW</span><a href="shop-filters-left-3cols.html">All Custom Artwork<i class="fa fa-chevron-down"></i></a>
      <ul class="submenu">
        <li><a href="#">Autos</a></li>
        <li><a href="#">Creative</a></li>
        <li><a href="#">Creatures</a></li>
        <li><a href="#">Figures</a></li>
        <li><a href="#">Flowers</a></li>
        <li><a href="#">Landscapes</a></li>
        <li><a href="#">Lights</a></li>
        <li class="offer">
          <div class="col-1">
            <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-2">
            <img src="{{ site.baseurl }}/assets/img/offers/menu-drodown-offer.jpg" alt="Special Offer"/>
            <a class="btn btn-block" href="#"><span>584$</span>Special offer</a>
          </div>
        </li>
      </ul>
    </li>
    <li class="has-submenu"><a href="shop-filters-left-3cols.html">Canvas Art<i class="fa fa-chevron-down"></i></a>
      <ul class="submenu">
        <li class="has-submenu"><a href="#">Gallery Wrap</a><!--Class "has-submenu" for adding carret and dropdown-->
          <ul class="sub-submenu">
            <li><a href="#">0.75" Thin Frame</a></li>
            <li><a href="#">1.5" Thick Frame</a></li>
          </ul>
        </li>
        <li><a href="#">Texture</a></li>
        <li class="has-submenu"><a href="#">Add a Floating Frame</a>
          <ul class="sub-submenu">
            <li><a href="#">Black</a></li>
            <li><a href="#">Maple</a></li>
            <li><a href="#">Walnut</a></li>
          </ul>
        </li>
        <li><a href="#">Your Photo on Canvas</a></li>
        <li><a href="#">Canvas only</a></li>
        <li class="has-submenu"><a href="#">Canvas Tripps - 3 panel</a>
          <ul class="sub-submenu">
            <p>Sizes for each panel</p>
            <li><a href="#">12x24</a></li>
            <li><a href="#">15x30</a></li>
            <li><a href="#">18x36</a></li>
            <li><a href="#">20x40</a></li>
            <li><a href="#">24x48</a></li>
          </ul>
        </li>
        <li class="has-submenu"><a href="#">Canvas Quads - 4 panel</a>
          <ul class="sub-submenu">
            <p>Sizes for each panel</p>
            <li><a href="#">18x18</a></li>
            <li><a href="#">15x30</a></li>
            <li><a href="#">16x24</a></li>
            <li><a href="#">24x24</a></li>
            <li><a href="#">30x30</a></li>
            <li><a href="#">24x36</a></li>
          </ul>
        </li>
        <li class="offer">
          <div class="col-1">
            <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-2">
            <img src="{{ site.baseurl }}/assets/img/offers/menu-drodown-offer.jpg" alt="Special Offer"/>
            <a class="btn btn-block" href="#"><span>584$</span>Special offer</a>
          </div>
        </li>
      </ul>
    </li>
    <li class="has-submenu"><a href="shop-filters-left-3cols.html">Plexi Art<i class="fa fa-chevron-down"></i></a>
      <ul class="submenu">
        <li><a href="#">Flame Polished Edges</a></li>
        <li class="has-submenu"><a href="#">Bolts</a><!--Class "has-submenu" for adding carret and dropdown-->
          <ul class="sub-submenu">
            <li><a href="#">Satin Silver</a></li>
            <li><a href="#">Chrome</a></li>
          </ul>
        </li>
        <li><a href="#">2 inch clear borders</a></li>
        <li><a href="#">Installation</a></li>
        <li><a href="#">French Cleats (no bolts)</a></li>
        <li class="has-submenu"><a href="#">Plexi Tripps - 3 panel</a>
          <ul class="sub-submenu">
            <p>Sizes for each panel</p>
            <li><a href="#">12x24</a></li>
            <li><a href="#">15x30</a></li>
            <li><a href="#">18x36</a></li>
            <li><a href="#">20x40</a></li>
            <li><a href="#">24x48</a></li>
          </ul>
        </li>
        <li class="has-submenu"><a href="#">Plexi Quads - 4 panel</a>
          <ul class="sub-submenu">
            <p>Sizes for each panel</p>
            <li><a href="#">18x18</a></li>
            <li><a href="#">15x30</a></li>
            <li><a href="#">16x24</a></li>
            <li><a href="#">24x24</a></li>
            <li><a href="#">30x30</a></li>
            <li><a href="#">24x36</a></li>
          </ul>
        </li>
        <li class="offer">
          <div class="col-1">
            <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-2">
            <img src="{{ site.baseurl }}/assets/img/offers/menu-drodown-offer.jpg" alt="Special Offer"/>
            <a class="btn btn-block" href="#"><span>584$</span>Special offer</a>
          </div>
        </li>
      </ul>
    </li>
    <li><a href="shop-filters-left-3cols.html">Your Photos</a></li>
  </ul>
</nav>
