<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>

<!--Javascript (jQuery) Libraries and Plugins-->
<script src="{{ site.baseurl }}/assets/js/libs/jquery-1.11.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/libs/jquery-ui-1.10.4.custom.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/libs/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/smoothscroll.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/jquery.validate.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/icheck.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/jquery.placeholder.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/jquery.stellar.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/jquery.touchSwipe.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/jquery.shuffle.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/lightGallery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/masterslider.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/404.js"></script>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
