<!--Search Form-->
<form class="search-form closed" method="get" role="form" autocomplete="off">
  <div class="container">
    <div class="close-search"><i class="icon-delete"></i></div>
      <div class="form-group">
        <label class="sr-only" for="search-hd">Search for procuct</label>
        <input type="text" class="form-control" name="search-hd" id="search-hd" placeholder="Search for procuct">
        <button type="submit"><i class="icon-magnifier"></i></button>
    </div>
  </div>
</form>
